/*color variables*/
:root{
--desaturated-red: hsl(0, 36%, 70%);
--soft-red: hsl(0, 93%, 68%);
--dark-grayish Red: hsl(0, 6%, 24%);
}
/*html padding and margin reset*/
*{
    padding: 0;
    margin: 0;   
}
/*body and document font formatting*/
body{
    background: linear-gradient(150.03deg, #FFFFFF 0%, #FFF4F4 84.51%);
    display: flex;
    flex-flow: column;
    justify-content: center;
    font-size: 16px;
    height: 100vh;
    width: 100%;
    color: var(--desaturated-red);
    font-family: 'Josefin Sans', sans-serif;
}


/*hero img and logo formatting*/
.logo-mobile{
    width: 6.25rem;
    height: 1.3rem;
    margin: 2rem;
}
.image-container{
    width: 100%;
    height: 15.6rem;
    background-color: var(--soft-red);
}
.image-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.9;
}
/*content formatting*/
.content-wrapper{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}
.content-wrapper h1{
    font-size: 2.5rem;
    line-height: 2.6rem;
    font-weight: 300;
    text-transform: uppercase;
    margin-top: 4rem;
    text-align: center;
    max-width:  20rem;
    letter-spacing: 1rem;
}
.content-wrapper span{
    color: black;
    font-weight: 600;
}
.description{
    margin: 1rem;
    text-align: center;
    line-height: 1.4rem;
    max-width: 20rem;
    
}
/*input and button formatting*/
input{
    padding: 0.9rem;
    width: 20rem;
    border-radius: 1.75rem;
   background-color: transparent;
    border: 0.125rem solid var(--desaturated-red);
}
::placeholder{
    font:inherit;
    color: var(--desaturated-red);
}
.btn-share{
    width: 4rem;
    height: 3rem;
    background: linear-gradient(135deg, #F8BFBF 0%, #EE8B8B 100%);
    box-shadow: 0px 15px 20px rgba(198, 110, 110, 0.247569);
    border: none;
    border-radius: 1.75rem;
    position: relative;
    transform: translate(225%, -100%);
}
.btn-share:hover{
    background: var(--soft-red);
    cursor: pointer;
}
/*error formatting*/
.error-sign{
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    transform: translate(350%, 510%);
}
.error{
    color: var(--soft-red);
    position: relative;
    transform: translate(-30%, -250%);
}
.active{
    border: 0.125rem solid var(--soft-red);
}
.hide{
    display:none;
}
.attribution {
  font-size: 0.5rem;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
.women-desktop{
    display: none;
}
.logo-desktop{
    display: none;
}

@media only screen and (min-width: 800px){
    /*body and document font formatting*/
body{
    background: linear-gradient(150.03deg, #FFFFFF 0%, #FFF4F4 84.51%);
    display: flex;
    flex-flow: row;
    justify-content:space-between;
    font-size: 16px;
    height: 100vh;
    width: 100vw;
    color: var(--desaturated-red);
    font-family: 'Josefin Sans', sans-serif;
}
/*hero img and logo formatting*/
.logo-desktop{
    display: block;
    width: 10rem;
    height: 2rem;
    margin-top: 4.6rem ;
    
}
.logo-mobile{
    display: none;
}

.women-desktop{
    display:block;
    
}
.women-mobile{
    display: none;
}
.image-container{
    display: none;
}
/*content formatting*/
.content-wrapper{
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: 10rem;
}

.content-wrapper h1{
    font-size: 4rem;
    line-height: 4.4rem;
    
    
    text-align: left;
    max-width:  28rem;
    letter-spacing: 1rem;
    margin-top: 8.5rem ;
    
}
.content-wrapper span{
    color: black;
    font-weight: 600;
}
.description{
    margin: 2rem 0 2rem 0;
    text-align: left;
    line-height: 1.4rem;
    max-width: 28rem;
    
}
/*input and button formatting*/
input{
    padding: 0.9rem;
    width: 28rem;
}

.btn-share{
    width: 5rem;
    transform: translate(500%, -100%);
}

/*error formatting*/
.error-sign{
    transform: translate(1500%, 2470%);
}
.error{
    color: var(--soft-red);
    position: relative;
    transform: translate(10%, -200%);
}

.hide{
    display:none;
}

